 .fly-in-left {
    animation: flyInLeft 1s ease forwards;
  }
  
  .fly-in-right {
    animation: flyInRight 1s ease forwards;
  }
  
  @keyframes flyInLeft {
    from {
      transform: translateX(-90%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes flyInRight {
    from {
      transform: translateX(90%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }